[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
Deploy/
Build/
Logs/
packages/*/*
_ReSharper*/*
TestResults/*

*.csuser
*.suo
*.ReSharper
*.DotSettings
*.user
*.tmp
*.orig
*.bak
*.zip
*.rar
*.userprefs
*.pidb
*.db
*.ncrunchproject
*.ncrunchsolution
*.cache
*.sublime-workspace
